*{
    box-sizing: border-box;
}
.fa {
    width: 25px;
    float: right;
    margin: 1px;
    padding: 0.4px;
    position: relative;
    
  }
  body{
    width: 900px;
    margin-left: auto;
  margin-right: auto;
  }
  .fa2{
    margin: 1px;
    float: right;
    width: 25px;
  }
  #logo{
    float: left;
    width: 40px;
    height: 60px;
   margin: 15px; 
   top: 13px;
   position: relative;
  }

  h2{
      font-family: cursive;
      color: black;
      top: 45px;
      right: 65px;
      position: relative;
  }
  h3{
     font-size:x-large;
      position: relative;
      top: 25px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
nav{
  position: relative;
}
  button{
    background-color: rgb(241, 36, 36);
    color: white;
    float: right;
    width: 100px;
    position: absolute;
    border: black;
    border: solid;
    left: 950px;
    margin-top: 15px;
  }
 h5{
   font-size: x-small;
   align-content:stretch;
   position: absolute;
   color: gray;
   top:35px;
   left: 70px;
 }
 
 #firstbox{
  float: left;
 }
 #secbox{
  float: right;
}
.boxx{
width: 100vh;
margin-bottom: 50px;
box-shadow: 1px 2px 3px;
background-image:url('https://github.com/LTUC/amman-201d18/blob/main/class-10/choco-pizza-lab/lab-assets/list-bg.png?raw=true');
height: 50vh;
}
.printlog{
  color: grey;
  float:  right;
  font-size: 5pt;
}
#printimg{
  float:  right;
}

.Pizza{
  margin-left: auto;
  margin-right: auto;
  font-size: x-small;
  color: gray;
  margin: 0.5px;
  top: 20px;
  left: 8px;
  position: relative;

}
#lo{
  margin-left: auto;
  margin-right: auto;
  width: 25px; 
  display: block;
}
.imge{
    width: 50px;
    float: left;
    position: absolute;
    left: 230px;
    }
h4{
    font-family: cursive;
        font-size: medium;
        margin-top: 3px;
        position: absolute;
        left: 280px;
    padding-left: 10px;

}
.s1{
    font-family: cursive;
    font-size: small;
     position: absolute;
    left: 275px;
    padding: 15px;
    
    }
    .s2{
        font-family: cursive;
        font-size: small;
        position: absolute;
        left: 260px;
        padding: 30px;
    }
    
    footer{
        color: grey;
        font-size: x-small;
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin-top: 120px;
    }
    body{
        background-color:white ;
    }
    main{
        background-color:white;
        border:grey
    }
